<div>
  <h2 class="title">Визуальное представление</h2>
  <button (click)="savePNG()">Сохранить PNG</button>
  <button (click)="savePDF()">Сохранить PDF</button>
  <button (click)="continieSimulation()">Продолжить</button>
  <button (click)="stopSimulation()">Остановить</button>
  <input
    type="checkbox"
    name="manualMode"
    id="manualMode"
    [(ngModel)]="manualMode"
  />
  <label for="manualMode">Перетаскивание вершин по одной</label>
  <div>
    <label>выбранная вершина</label>
    <div>
      <select [(ngModel)]="selectedNode" (change)="onChange()">
        <option *ngFor="let x of nodes">
          {{ x.name }}
        </option>
      </select>
    </div>
  </div>
</div>
<div #svgContainer id="svgContainer1">
  <svg id="svgContainer">
    <g id="svg"></g>
  </svg>
</div>

<!-- <svg #svg [attr.width]="'100%'" [attr.height]="'90%'"></svg> -->
