<h2 class="title">Таблица</h2>
<div class="row">
  <div>Название</div>
  <div>Владеет акциями</div>
</div>
<div *ngFor="let item of data">
  <ng-conteiner *ngIf="item.shareHolders && item.shareHolders.length > 0">
    <div class="row">
      <div class="cell">{{ item.bank.id }}</div>
      <div class="cell-share">
        <div *ngFor="let shareholder of item.shareHolders" class="cell">
          <div>{{ shareholder.target.id }} - {{ shareholder.percent }}%</div>
        </div>
      </div>
    </div>
  </ng-conteiner>
</div>
